.color-picker,
.color-picker *,
.color-picker *::before,
.color-picker *::after {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  box-sizing: border-box;
}
.color-picker {
  background-color: #fff;
  display: block;
  min-width: 128px;
  min-height: 200px;
  position: relative;
}
.color-picker > .color-picker-right-bar {
  /*border: solid #000000 1px;*/
  background: linear-gradient(
    #ff0000,
    #ff00ff,
    #0000ff,
    #00ffff,
    #00ff00,
    #ffff00,
    #ff0000
  );
  width: 16px;
  height: calc(100% - 46px);
  position: absolute;
  right: 12px;
  top: 12px;
}
.color-picker .color-picker-right-bar-picker {
  position: absolute;
  width: 100%;
  height: 1px;
}
.color-picker .color-picker-right-bar-picker::before,
.color-picker .color-picker-right-bar-picker::after {
  content: '';
  width: 10px;
  height: 7px;
  position: absolute;
  background: transparent;
  border: solid transparent 5px;
  border-width: 3.5px 5px;
  top: -3px;
}
.color-picker .color-picker-right-bar-picker::before {
  border-left: solid #404040 5px;
  left: -6px;
}
.color-picker .color-picker-right-bar-picker::after {
  border-right: solid #404040 5px;
  right: -6px;
}
.color-picker > .color-picker-gradients {
  position: absolute;
  width: calc(100% - 50px);
  height: calc(100% - 46px);
  /*border: solid #000000 1px;*/
  left: 12px;
  top: 12px;
}
.color-picker > .color-picker-gradients,
.color-picker > .color-picker-gradients * {
  cursor: url('./color-picker.cur'), crosshair;
}
.color-picker > .color-picker-gradient-black {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}
.color-picker > .color-picker-color-block {
  position: absolute;
  /*border: solid #000000 1px;*/
  background: #fff;
  width: calc(100% - 104px);
  /*max-width: 72px;*/
  height: 30px;
  left: 12px;
  bottom: -4px;
}
.color-picker > .color-picker-input {
  position: absolute;
  width: 56px;
  border: solid #909090 1px;
  text-align: left;
  height: 18px;
  bottom: 8px;
  right: 12px;
}
.color-picker > .color-picker-input > input {
  padding: 0 4px;
  text-align: center;
}
.color-picker > .color-picker-input * {
  font-size: 12px;
  color: #808080;
  line-height: 18px;
}
.color-picker > .color-picker-input::before {
  width: 16px;
  height: 18px;
  display: block;
  position: absolute;
  border: solid #909090 1px;
  border-right: 0;
  content: '#';
  text-align: center;
  font-size: 12px;
  color: #808080;
  line-height: 18px;
  top: -1px;
  left: -16px;
}
.color-picker .color-picker-circle {
  background-color: transparent;
  position: absolute;
}
.color-picker .color-picker-circle::before {
  border-radius: 50%;
  width: 11px;
  height: 11px;
  border: solid #000000 1px;
  background-color: transparent;
  position: relative;
  left: -6px;
  top: -6px;
  display: block;
  content: '';
}
.color-picker .color-picker-circle.color-picker-circle-black::before {
  border-color: #000000;
}
.color-picker .color-picker-circle.color-picker-circle-white::before {
  border-color: #ffffff;
}
